body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    --webit-font-smoothing: antialiased;
}
*, *::before, *::after{
    box-sizing: border-box;
}

p{
    margin:0 0 10px 0;
}
/*------------CONTAINER-------------
*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*------------HEADER-------------
*/

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
    padding: 20px;
    background-color: #f5e6d4;
}
.header.fixed{
    height: auto;
    position: fixed;
    
    padding: 0;
    padding-top: 5px;
}
.header.fixed .header__inner{
    padding-bottom: 15px;
    border-bottom: 0;

}
.header__inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 0 35px 0 0;
    align-items: center;
}
.intro{
    height: 120px;
    
}
.header.fixed{
    height: auto;
    position: fixed;
    background-color: #f5e6d4;
    padding: 0;
    padding-top: 5px;
}

/*------------NAV-------------
*/

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav.show{
    display: flex;
}
.nav__link{
    margin-left: 50px;
    color: #000;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

.nav__link:hover{
    opacity: 1;
}
.nav__link:first-child{
    margin-left: 0;
}
p{
    font-size: 18px;
}
table, td, th{
    font-size: 18px;
    border: 1px solid #000;
}
table{
    border-collapse: collapse;
}
thead{
    background-color: yellow;
}
h1{
    display: block;
    margin: 0 auto;
}
h2{
    align-self: start;
}
.right{
    float: right;
    height: 300px;
    width: 300px;
    margin-left: 15px;
}
.left{
    float: left;
    height: 300px;
    width: 300px;
    margin-right: 15px;
}

.footer{
    margin-top: 10px;
    padding: 70px 0;
    background-color: #3a3e64;
}
.footer__inner{
    display: flex;
    flex-wrap:wrap;
}
.footer__block{
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}
.footer__title{
    margin-bottom: 20px;
   font-size: 14px;
   font-weight: 700;
   color:#fff;
   text-transform: uppercase;

}
.footer__text{
    font-size: 14px;
    line-height: 1.5;
    color:#fff;
    opacity: 0.5;
}
.footer__number a, .footer__email a{
    cursor: pointer;
    transition: color .1s linear;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    color:#fff;
    
}
.footer__number:hover a, .footer__email:hover a{
    color:orange;
}
.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 14px 40px;
    color:#fff;
    border:0;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    transition: background-color .1s linear;
}
.btn--red{
    background-color: #e84545;
}
.btn--red:hover{
    background-color: #dd3434;
}
.btn--long{
    min-width: 280px;
}
.social{
    display: flex;
    justify-content: center;
}
.social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 25px;
}
.social__item:last-child{
    margin-right: 0;
}

.burger{
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}
.burger__item{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    position: relative;

}
.burger__item:before, .burger__item:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    z-index: 1;
    background-color: #000;
}
.burger__item:before{
    top: -8px;
}
.burger__item:after{
    bottom: -8px;
}
/*------------SIDE-------------
    */
.nav2 {
    width: 420px;
    min-width: 420px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: -420px;
    padding: 15px 20px;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    background: #3a3e64;
    z-index: 2000;
}
.nav2.noshow{
    left:-420px;
    
}
.nav-toggle {
    position: absolute;
    left: 420px;
    top: 6em;
    padding: 0.5em;
    background: inherit;
    color: #dadada;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}
.nav-toggle:hover {
    color: #f4f4f4;
}
[id='nav-toggle'] {
    position: absolute;
    display: none;
}
[id='nav-toggle']:checked ~ .nav2 > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}
[id='nav-toggle']:checked ~ .nav2 {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}
[id='nav-toggle']:checked ~ .nav2 > .nav-toggle:after {
    content: '\2715';
}

 
.nav2 h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}
 
 

 
.nav2 > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.nav2 > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}
 
[id='nav-toggle']:checked ~ .nav2 > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
 
/* определяем интервалы появления пунктов меню */
 
.nav2 > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}
 
.nav2 > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}
 
.nav2 > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}
 
.nav2 > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
 
.nav2 > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}
.nav2 > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}
.nav2 > ul > li:nth-child(8) {
    -webkit-transition: opacity .5s .8s, -webkit-transform .5s .8s;
    transition: opacity .5s .8s, transform .5s .8s;
}
.nav2 > ul > li:nth-child(9) {
    -webkit-transition: opacity .5s .9s, -webkit-transform .5s .9s;
    transition: opacity .5s .9s, transform .5s .9s;
}
.nav2 > ul > li:nth-child(10) {
    -webkit-transition: opacity .5s 1s, -webkit-transform .5s 1s;
    transition: opacity .5s 1s, transform .5s 1s;
}
.nav2 > ul > li:nth-child(11) {
    -webkit-transition: opacity .5s 1.1s, -webkit-transform .5s 1.1s;
    transition: opacity .5s 1.1s, transform .5s 1.1s;
}
.nav2 > ul > li:nth-child(12) {
    -webkit-transition: opacity .5s 1.2s, -webkit-transform .5s 1.2s;
    transition: opacity .5s 1.2s, transform .5s 1.2s;
}
.nav2 > ul > li:nth-child(13) {
    -webkit-transition: opacity .5s 1.3s, -webkit-transform .5s 1.3s;
    transition: opacity .5s 1.3s, transform .5s 1.3s;
}
.nav2 > ul > li:nth-child(14) {
    -webkit-transition: opacity .5s 1.4s, -webkit-transform .5s 1.4s;
    transition: opacity .5s 1.4s, transform .5s 1.4s;
}
.nav2 > ul > li:nth-child(15) {
    -webkit-transition: opacity .5s 1.5s, -webkit-transform .5s 1.5s;
    transition: opacity .5s 1.5s, transform .5s 1.5s;
}
.nav2 > ul > li:nth-child(16) {
    -webkit-transition: opacity .5s 1.6s, -webkit-transform .5s 1.6s;
    transition: opacity .5s 1.6s, transform .5s 1.6s;
}
 
 

 

 
.nav2 > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}
 

 
.nav2 > ul > li > a:hover,
.nav2 > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}
 
/**
 * линия подчеркивания ссылок меню
 */
 
.nav2 > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 
.nav2 > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */
 
.nav2 > ul > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
.nav2 > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
.navigation{
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #f5e6d4;
    margin-bottom: 10px;
    padding: 10px;
}
.navigation__a{  
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    opacity: 0.75;  
    color:#000;
    transition: opacity 0.1s linear;
    text-transform: uppercase;
    text-decoration: none;
}
.navigation__a:hover{
    opacity: 1;
}
#w_jpg3{
    width: 600px;
}
#w_jpg, #w_jpeg2, #w_jpg5, #w_jpg6{
    width: 500px;
}
#w_jpeg, #w_jpg2, #w_jpg4, #w_jpg7{
    width: 400px;
}
@media screen and (max-width: 991px){
    /*------------NAV-------------
    */
    .nav{
        display: none;      
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background-color: #f5e6d4;
    }
    .nav__link{
        padding: 9px 15px;
    }
    /*------------BURGER-------------
    */
    .burger{
      display: block;
    }
}
@media screen and (max-width: 767px){
    #w_jpg, #w_jpeg2, #w_jpg5, #w_jpg6, #w_jpeg, #w_jpg2, #w_jpg4, #w_jpg7, #w_jpg3{
        width: 300px;
        height: 200px;
    }
    .navigation{
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    .nav2{
        width: 300px;
        min-width: 300px;
        left: -300px;
    }
    .nav2 > ul > li > a{
        font-size: 10px;
    }
    .nav-toggle {
        left: 300px;
    }
    .fixed .header__inner{
        margin-left:10px;
    }
    .burger{
        margin-left: 10px;
    }
    .fixed .burger{
        margin-left: 20px;
    }
    /*------------BUTTON-------------
    */
    .btn--long{
        min-width: 260px;
    }
    
    /*------------FOOTER-------------
    */
    .footer__block{
        width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .footer__inner{
        padding: 30px 0;
    }
    .footer__block:last-child{
        margin-bottom: 0;
    }
    .right, .left{
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .with_picture_right, .with_picture_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    p{
        font-size: 14px;
    }
    h1, h2, h3, p{
        padding-left: 5px;
        padding-right: 5px;
    }
    table{
        font-size: 14px;
        width: 90%;
        margin: 0 auto;
    }
}